<div class="d-flex justify-content-center align-items-center vw-100 vh-100">
    <div class="w-75">
        <div class="row">
            <div class="col-12">
                <h3 class="mb-3">Tasks</h3>

                <form action="" class="row mb-5">
                    <div class="col-12 mb-3">
                        <label class="mb-2">Título</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-12">
                        <label class="mb-2">Descrição</label>
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                </form>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <button class="btn btn-sm btn-success">Salvar</button>
            </div>
        </div>

        <hr class="d-block my-5">

        <div class="row">
            <div class="col-12">
                <div class="border p-5">
                    <b class="d-block mb-3">Atividade 01</b>
                    <p class="text-justify">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

                    <div class="d-flex mt-3 align-items-end justify-content-end">
                        <a href="" class="btn btn-sm border hover me-2">Excluir</a>
                        <a href="" class="btn btn-sm border">Finalizar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>